body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
}

#ball {
  width: 150px;
  height: 150px;
  background-color: #61dafb;
  border-radius: 50%;
  position: absolute;
}
